__pycache__/
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

.venv/
env/
venv/
ENV/
raw/

.idea/
.vscode/

*.dll
*.so
*.dylib
*.exe

.pytest_cache/
coverage.xml
.coverage
htmlcov/
images/

*.tar.gz
*.zip
*.whl

*.log
*.bak
*.bat
*.jpg
*.png
*.json

!/assets/*.jpg
!/assets/*.png

sessions/
downloads/

.DS_Store
Thumbs.db
cookies.txt

.env
.env.local


